.shadow-1{
    width: 240px; 
    height: 240px; 
    border-radius: 21rem !important; 
    background: radial-gradient(61.98% 61.98% at 100% 0%, rgba(32, 30, 147, 0.65) 0%, rgba(32, 30, 147, 0.2405) 49.77%, rgba(2, 209, 255, 0) 100%), radial-gradient(50% 68.23% at 98.21% 96.61%, rgba(65, 209, 201, 0.73) 0%, rgba(65, 209, 183, 0.3358) 57.82%, rgba(65, 209, 183, 0) 100%), radial-gradient(72.32% 89.58% at 1.34% 3.39%, #F74E76 0%, rgba(242, 87, 87, 0) 100%), linear-gradient(180deg, #58CCDC 0%, rgba(88, 204, 220, 0) 100%), linear-gradient(62.9deg, #8532C7 14.56%, rgba(133, 50, 199, 0) 92.07%), #F2F5FA; background-blend-mode: normal, normal, normal, normal, normal, normal; 
    filter: blur(86px);    
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: -20;
}

.animate-c{
    animation: bounce 5s infinite alternate !important;

    @keyframes bounce {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    }
}