.toast-message {
    background: #000;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 20px;
}

@media screen and (max-width : 800px) {
    .toast-message{
        width: 100%;
    }
}

