@media (max-width : 866px){
    .menu-horizontal{
        display: flex !important;
        flex-direction: column !important;
        background-color: #000;
        color: hsla(var(--bc) / var(--tw-text-opacity, 1));        
        position: fixed;
        top: 80px;
        right: -800px;
        z-index: 100;
        width: 100% !important;
        min-height: calc(100vh - 80px);
        padding: 0 20px;
        transition: .4s ease-in;
    }

    .activeSidebar{
        right: 0 !important;
    }

    .toggle-sidebar-btn{
        display: block !important;
        padding-left: 5px;
        transition: .4s ease-in;
    }
}

.menu-horizontal{
    display: flex !important;
    flex-direction: column !important;
    /* justify-content: center; */
    background-color: #000;
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));        
    position: fixed;
    top: 80px;
    right: -100%;
    z-index: 100;
    width: 30%;
    min-height: calc(100vh - 80px);
    padding: 0 20px;
    transition: .4s ease-in;

}

.activeSidebar{
    right: 0 !important;
}

.toggle-sidebar-btn{
    display: block !important;
    padding-left: 5px;
    transition: .4s ease-in;
    background-color: #000;
    border: #000;
}

.toggle-sidebar-btn:hover{
    color: #7209B7;
    background-color: #000;
}

.menu li{
   transition: .4s ease-in;
   margin: 5px;
}

.menu li a{
    display: block;
    width: 100%;
}

.menu li a:hover{
    transition: .4s;
    border-radius: 5px;
}

.menu li .active{
    transition: .4s;
    border-radius: 5px;
}

